*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Odibee Sans', cursive;
}
html{
    scroll-behavior: smooth;
}
.fns{
    margin-right: 10px;
    width: 32px;
    height: auto;
}
.navbar span{
    font-size: 40px;
}
.navbar-nav{
    font-size: 30px;
}
.nabar-brand{
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
/* .navbar{
    background: linear-gradient(
        -145deg,
        #525252,
        #3d72b4)
} */
.my-link-style:hover{
    text-decoration: underline;
}
body{
    background: linear-gradient(
        145deg,
        #525252,
        #3d72b4) no-repeat
        
}
.carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner img{
    width: 100%;    
}
.navbar{
    padding-left: 50px;    
}
.navbar-nav{
    margin-left: auto;
    margin-right: 30px;
}

.navbar{
    transition: background 0.35s;
}
.navbg{
     background: black
 } 
.second {
    text-align: center;
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: cornsilk;
}
.cir{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control{
 font-size: 120px;
 opacity: 0.5;
 background-color: transparent;
 margin-top: 0;
 position: absolute;
 text-align: center;
 top: 15%;
 left: 20px;
 width: 40px;
 line-height: 30px;
 font-weight: 50;
 text-decoration: none;
 color: #ffffff;
}
.carousel-control.right{
    right: 20px;
    left: auto;
}
a{
    text-decoration: none;
}
.divider{
    border-bottom: 1px solid black;
    opacity: 0.3;
}
img{
    max-width: 100%;
}
.center{
    letter-spacing: -1;   
}
.chrome{
    margin-right: 0px;
}
h1{
    font-weight: normal;
}
.heading{
    font-size: 50px;
    line-height: 1;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.lead{
    font-size:21px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: 200;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.chrome img{
    padding-right: 0px;
}
.muted{
    color: #999999;
}   
span{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.row{
    margin-right: 0px;
}
.bgcolor span{
    font-family: 'Odibee Sans', cursive;
}

.slick-slider {
    height: 100vh;
}
.slick-prev {
    left: 15px;
    z-index: 20;
}
.slick-next {
    right: 15px;
    z-index: 20;
}
.slick-slider-item {
    position: relative;
    height: 100vh;
}
.slick-slider-item h1 {
    position: absolute;
}
.textcolor{
    color: white;
}
